.navbar{
    width: 100%;
    height: 4rem;
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h2{
    margin-left: 2rem;
}
.navbar svg{
    margin-right: 2rem;
    height: 33px;
    width: 26px;
}